@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
  }


@media only screen and (min-width: 980px){
.top{
    font-size:30px;
    margin-top: 40px;
    margin-left: 40px;
    
    color:white;
    width: 100%;
    height: 50px;
}
.about,.type{
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    color:white;
}
.type{
    font-size: 60px;
}

body{
    background:  #101820FF;
    width: 100%;
    overflow-x:hidden;
}
.Name{
    font-family: 'Lobster',cursive;
    font-size:100px
}
.container{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:80%;
}
.right{
    width:50%;
    display:flex;
    
    justify-content: flex-end;
}
.left{
    width:50%;
    
}
.Face{
    height: 80%;
    width:auto;
    position:fixed;
    bottom:10%;
    right:10%;
    align-self: bottom;
}
.Name{
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    color:#FEE715FF;
}
.bottom{
    position:fixed;
    height: 10%;
    bottom:0;
    width:100%;
    background-color:#FEE715FF;
    
}
.bottom ul{
    display: flex;
    list-style: none;
}
.contact-image{
    margin-top:10px;
    width: 70px;
    height: 70px;
}
.contact{
    display: flex;
    justify-content: space-around;
}
.about{
    font-size:20px;
}
}
@media only screen and (max-width: 980px)
{
    .top{
        display:none;
    }
    .container
    {
        display:none;
    }
    body{
        background:  #101820FF;
        width: 100%;
        overflow-x:hidden;
    }
    .bottom{
        display:none;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        background-color: #FEE715FF;
    }
      
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
      
    
    .text{
        padding: 2px 16px;
    }
    .Name{
        font-family: 'Lobster',cursive;
        font-size:40px
    }

}


